

body {
    font-family: "MS Sans Serif", "Verdana", "Arial", sans-serif;
    background-color: #dfdfdf;
}

.recipe {
    margin: 8px 20px;
    font-size: 20px;
}

.recipes {
    text-align: center;
    padding: 8px 16px;
    margin: 8px 180px;
    list-style-type: none;
    background-color: gray;
    border: 4px white;
    border-style: outset;
}

.page-heading {
    font-family: "Courier New", "Garamond", "Georgia", "Times New Roman", monospace, serif;
    color: white;
    background-color: #445271;
    padding: 4px;
    border: 4px white;
    border-style: outset;
    text-align: center;
}

#odin {
    text-align: center;
    margin-bottom: 62px;
    padding: 4px;
}

.heading {
    font-family: "Courier New", "Garamond", "Georgia", "Times New Roman", monospace, serif;
    color: black;
    background-color: gray;
    border: 4px black;
    border-style: outset;
    padding: 4px;
}

.link-home {
    font-family: "MS Sans Serif", "Verdana", "Arial", sans-serif;
    font-weight: bold;
    background-color: gray;
    border: 4px white;
    border-style: outset;
    padding: 8px 24px;
}

img {
    height: auto;
    width: 500px;
    border: 4px black;
    border-style: outset;
}

a:link {
    color: black;
    text-decoration: none;
    display: inline-block;
}

a:visited {
    color: white;
}

a:hover {
    background-color: #4e4759;
}